<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card Optimizer</title>
    <link rel="icon" href="/logo/wallet.png" type="image/png">
</head>

<body>
    <!-- Main Prompt -->
    <div id="instructions">
        <div class="prompt">
        <h2>Instructions</h2>
        <p>Select credit cards below to add to wallet or add your own custom card.</p>
        </div>
    </div>
    <!-- Preset Cards to be selected -->
    <div id="cards">
    </div>
    <!-- Buttons -->
    <div class="centered">
        <button id="add-card-btn">+ Add Your Own Card</button>
    </div>

    <div class="centered">
        <button id="continue-btn">Add selected cards and continue</button>
    </div>

    <!-- Popup Content -->
    <div id="popup" class="popup">
        <div class="popup-content">
            <span class="close">&times;</span>
            <h2>Add Your Own Card</h2>
            <form id="card-form">
                <div class="form-row">
                    <label for="card">Card:</label>
                    <input type="text" id="card" name="card" placeholder="Card Name">
                </div>
                <div class="form-row">
                    <label for="bank">Bank:</label>
                    <input type="text" id="bank" name="bank" placeholder="Bank Name">
                </div>
                <div id="bonus-fields">
                    <div class="form-row">
                        <label for="other">Default Category "Other":</label>
                        <input type="text" id="other" name="other" placeholder="1.5">
                    </div>
                    <button type="button" id="add-bonus">+ Add Bonus Category</button>
                </div>
                <div class="form-row">
                    <label for="photo">Photo URL:</label>
                    <input type="text" id="photo" name="photo" placeholder="Image URL">
                </div>
                <div class="centered">
                <button type="submit" class="green-btn">Add Card</button>
                </div>
            </form>
        </div>
    </div>
    

    <script src="script.js"></script>
</body>
</html>